<div>
	<unit-selector (onChange)="updateUnits($event)"></unit-selector>
	<div class="container slider-area">
		<div class="row">
		<div class="col-md-3 slider-label">
				<label>Amount of Data (1-1024):</label>
		</div>
		<div class="col-md-9">
			<div>
			<mat-slider min="1" max="1024" (input)="updateDataAmount($event)"></mat-slider>
			<span>{{dataAmount}} {{ dataUnit }}</span>
			</div>
		</div>
		</div>
		<div class="row">
		<div class="col-md-3 slider-label">
				<label>Transfer Rate (1-1000):</label>
		</div>
		<div class="col-md-9">
			<div>
			<mat-slider min="1" max="1000" (input)="updateTransferRate($event)"></mat-slider>
			<span>{{transferRate}} {{ rateUnit }}</span>
			</div>
		</div>
		</div>
		<div class="row slider-label">
			<div class="col-md-3">
			<label>
				<span>Transfer time:</span>
			</label>
			</div>
			<div class="col-md-9">
			 {{transferTime | amDuration: 'seconds' }}
			</div>
		</div>
		
	</div>
</div>
